@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
@import "./Colors.scss";

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Proxima Nova";
  background-color: $light-blue;
  background-image: url("./img/clouds_sprites.png");
  background-size: 900vh;
  min-height: 100vh;
  min-width: 300px;
  .content-container {
    display: flex;
    flex-direction: column;
    vertical-align: top;
  }
}
