$yelow: rgb(229, 179, 67);
$blue: rgb(38, 46, 215);
$light-blue: rgb(121, 178, 236);
$light-red: rgb(236, 121, 121);
$transparent-blue: rgba(65, 108, 209, 0.5);
$gray: rgb(179, 179, 179);
$white: rgb(255, 255, 255);
$black: rgb(62, 61, 61);
