.current-weather-container {
  display: flex;
  border-bottom: 1px dashed rgb(179, 179, 179);
  flex-direction: column;
  align-items: center;
}
.current-weather-container h1,
.current-weather-container h2,
.current-weather-container h3 {
  color: rgb(229, 179, 67);
  white-space: nowrap;
  margin: 0.2em;
}
.current-weather-container h3 {
  font-weight: lighter;
}
.current-weather-container h3 span {
  vertical-align: top;
  font-size: 0.7em;
}
.current-weather-container .weather-and-temperature {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.current-weather-container .weather-and-temperature img {
  width: 60%;
}
.current-weather-container .weather-and-temperature h1 {
  font-size: 2em;
}