@import "../../../Colors.scss";

.current-weather-container {
  display: flex;
  border-bottom: 1px dashed $gray;
  flex-direction: column;
  align-items: center;
  h1,
  h2,
  h3 {
    color: $light-blue;
    white-space: nowrap;
    margin: 0.2em;
  }
  h1 {
    color: $light-blue;
  }
  h2 {
    color: $yelow;
  }
  h3 {
    color: $light-blue;
    font-weight: lighter;
    span {
      vertical-align: top;
      font-size: 0.7em;
    }
  }
  .weather-and-temperature {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    img {
      max-width: 40%;
    }
    h1 {
      font-size: 2em;
    }
  }
  .additional-information {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }
}
.three-day-forecast {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
