.forecast-information {
  height: 3em;
  border-bottom: 1px dashed rgb(179, 179, 179);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: rgb(229, 179, 67);
  padding: 0 0.5em 0 0.5em;
}
.forecast-information h1 {
  font-size: 1em;
}
.forecast-information .title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
}
.forecast-information .title .main {
  margin: 0;
}
.forecast-information .title .secondary {
  font-size: 0.6em;
  margin: 0;
}
.forecast-information .info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.forecast-information .info-container img {
  height: 3em;
}
.forecast-information .info-container .min {
  font-weight: lighter;
  color: rgb(121, 178, 236);
}
.forecast-information .info-container .max {
  font-weight: lighter;
  color: rgb(236, 121, 121);
}

.info-detailed {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: height 2s, opacity 3s;
  overflow: hidden;
}
.info-detailed h3 {
  color: rgb(229, 179, 67);
  font-weight: lighter;
  font-size: 1em;
  margin: 0.5em;
}

.hidden {
  -webkit-animation-name: hide;
          animation-name: hide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.active {
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hide {
  from {
    max-height: 170px;
  }
  to {
    max-height: 0px;
  }
}

@keyframes hide {
  from {
    max-height: 170px;
  }
  to {
    max-height: 0px;
  }
}
@-webkit-keyframes show {
  from {
    max-height: 0px;
  }
  to {
    max-height: 170px;
  }
}
@keyframes show {
  from {
    max-height: 0px;
  }
  to {
    max-height: 170px;
  }
}