@import "../../Colors.scss";

.forecast-main-container {
  width: clamp(40%, 500px, 90%);
  overflow: hidden;
  margin: auto;
  .city-name {
    padding: 2vh;
    text-align: right;
    padding-right: 1em;
    h1,
    h3 {
      color: $white;
      font-weight: normal;
      margin: 0;
    }
  }
  .forecast-body {
    border-radius: 15px;
    overflow: hidden;
    .forecast-period-option {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .tab {
        padding: 1px;
        background-color: $white;
        color: $light-blue;
        font-size: 0.6em;
        font-family: "Monsterrat";
        font-weight: bolder;
      }
    }
    .forecast-container {
      background-color: $white;
      padding: 1.5em;
      // min-height: 580px;
    }
  }
}
