@import "../../Colors.scss";
@import "../../Screens.scss";

.forecast-main-container {
  width: clamp(40%, 900px, 90%);
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  .city-name {
    padding: 2vh;
    text-align: right;
    padding-right: 1em;
    h1,
    h3 {
      color: $white;
      font-weight: normal;
      margin: 0;
    }
  }
  .forecast-body {
    border-radius: 15px;
    overflow: hidden;
    .forecast-period-option {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .tab {
        padding: 1px;
        background-color: $white;
        color: $light-blue;
        font-size: 0.6em;
        font-family: "Monsterrat";
        font-weight: bolder;
      }
    }
    .forecast-container {
      background-color: $white;
      padding: 1.5em;
    }
  }
}

@media only screen and ($screen-seze-1) {
  .forecast-main-container {
    .city-name {
      h1,
      h3 {
      }
    }
    .forecast-body {
      .forecast-period-option {
        .MuiTabs-indicator {
        }
        .tab {
        }
        .active-tab {
        }
      }
      .forecast-container {
        padding: 0 0 0 0.5em;
      }
    }
  }
}
