.search-bar-container {
  position: relative;
  width: 100%;
}
.search-bar-container .option {
  width: 100%;
}
.search-bar-container .search-input input {
  height: 0.8em;
}
.search-bar-container .search-input label {
  font-size: 0.8em;
}
.search-bar-container .hidden {
  display: none;
}
.search-bar-container .visible {
  display: block;
  width: 100%;
  opacity: 1;
  pointer-events: all;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}